body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#Container {
    background-color: #022131;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid #141616;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: flex-start; */
    flex-wrap: reverse;
}

#Container div {
    width: 200px;
    height: 200px;
    /* max-width: 300px; */
    text-align: center;
    flex-basis: 200px;
    /* flex-basis: 500px; */
    flex-grow: 1;
}

div:nth-last-of-type(1) {
    flex-grow: 1;
    flex-shrink: 2;
    flex-shrink: 3;
    
}


div:nth-last-of-type(5) {
    flex-grow: 2;
    flex-shrink: 0;
} 

