body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#Container {
    background-color: #022131;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #d2e9e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: reverse;

    /* align-content: center; */
    /* align-content: flex-start; */
    /* flex-wrap: wrap-reverse; */
    /* align-content: space-between; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: nowrap; */
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    /* align-items: center; */
    /* align-items: baseline; */
    /* align-items: flex-end; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: wrap-reverse; */
    /* align-items: flex-end; */


}

#Container div {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 4em;
}

div :nth-last-of-type(3) {
    align-self: center;
    /* align-self: flex-end; */
    /* align-self: flex-start; */

}

div :nth-last-of-type(2) {
    align-self: flex-start;
    
}

div :nth-last-of-type(5) {
    align-self: flex-start;

}