h1 {
    background-color: #2a9d8f;
    border: 5px solid #264653;
    color: #eae2b7;
    padding: 0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align: center;
    margin: 20px auto;
    font-family: courier New;
    font-weight: lighter;
}

h1:nth-of-type(2n) {
    background-color: #e9c46a;
}
h1:nth-of-type(3n) {
    background-color: #f4a261;
}
h1:nth-of-type(4n) {
    background-color: #e76f51;
}
h1:nth-of-type(5n) {
    background-color: #a24f1e;
}
h1:nth-of-type(6n) {
    background-color: #d8510d;
}
h1:nth-of-type(7n) {
    background-color: #ebc35d;
}
h1:nth-of-type(8n) {
    background-color: #db1313;
}

section:first-of-type h1:nth-of-type(1){
    /* transform-origin: bottom right;    [top, right]*/
    transform: rotate(45deg);
}

section:first-of-type h1:nth-of-type(1){
    transform: scale(0.5);
    /* scale(2,1) scaleY(2) scale(0.6) */
}

section:first-of-type h1:nth-of-type(3){
    transform: translateX(200px);
}

section:first-of-type h1:nth-of-type(4){
    transform: translateX(-200px);
}

section:first-of-type h1:nth-of-type(4){
    transform: translate(-200px, 100px);
}

/* X is right or left and Y is up or down */

section:nth-of-type(2) h1:nth-of-type(1){
    transform: skew(30deg);
}

section:nth-of-type(2) h1:nth-of-type(2){
    transform: skew(10deg, 5deg);
}

section:nth-of-type(2) h1:nth-of-type(3){
    transform: rotate(-20deg) scale(1.3);
}

section:nth-of-type(2) h1:nth-of-type(4){
    transform: translateX(-500px) rotate(0.5turn) scaleY(1.5);
}

section:nth-of-type(2) h1:nth-of-type(4){
    transform: scale(0.7) translateX(500px);
}