/* h1{
    background-color: palegoldenrod;
    border: 1px solid black;
    display: inline;
} */
span {
    background-color: rgb(222, 106, 228);
    border: 1px solid black;
    display: block;
    width: 500px;
    padding: 10px;
    margin: 50px;
}

h1 {
    background-color: palevioletred;
    border: 1px solid black;
    width: 300px;
    padding: 50px;
    margin: 100px;
}

div {
    height: 200px;
    width: 200px;
    background-color: olivedrab;
    border: 5px solid  black;
    display: inline-block;
    margin: 50px;
}
/* In Inline display it ingores hight width and margin */